Merhaba {{ isim_soyisim }},

Çalıştaya katıldığınız için teşekkür ederim.
Linux lab çalışmalarını aşağıdaki bilgileri kullanarak sizler için hazırlanmış VM’e bağlanarak yapabilirsiniz.

Yapabileceğiniz çalışmalar:
1. Mevcut sistemi inceleme ve analiz
2. Güncelleme
3. Program kurma
4. Yeniden sistem kurma

Erişim bilgileri:
Proxmox sunucu adresi: {{ proxmox_sunucu }}
Proxmox kullanıcı adınız: {{ proxmox_kullanici }}
Proxmox parola: {{ proxmox_parola }}

Rocky 9 Linux kullanıcı adı: admin
Rocky 9 Linux kullanıcı parola: admin
Lütfen Rocky 9 Linux kullanıcı parolanızı değiştirmeyi unutmayınız.

ssh ile sanal makineye baglanmak icin kullanacaginiz komut :  ssh -p44222 {{ proxmox_kullanici }}@lab.akyuz.tech
ssh parolasi : {{ proxmox_parola }}



Geliştirici ve eğlenceli bir çalışma diliyorum.
Teşekkürler.

